/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#name {
	-fx-font-size: 20px ;
}
#email {
	-fx-font-size: 20px ;
}
#parse {
	-fx-font-size: 60px ;
}
.button{
	-fx-background-color: Aquamarine;
}
.button:pressed{
	-fx-background-color: Turquoise;
}
.progress-bar > .bar {
    -fx-background-color: Turquoise ;
}
.progress-indicator{
    -fx-progress-color: Turquoise;
}
.progress-indicator .percentage{
    -fx-fill:green;
}