.table-row-cell:focused {
    
}
.table-view .table-cell{
    -fx-font-size:15px;
}
.table-view .column-header{
	-fx-font-size:20px;
}
.button{
	-fx-background-color: Aquamarine;
}
.button:pressed{
	-fx-background-color: Turquoise;
}
.table-row-cell:odd{
	-fx-background-color: Azure;
}