.button{
	-fx-background-color: Aquamarine;
}
.button:pressed{
	-fx-background-color: Turquoise;
}
.error{
	-fx-focus-color: #d35244; -fx-faint-focus-color: #d3524422; -fx-background-color: -fx-focus-color, -fx-control-inner-background, -fx-faint-focus-color, linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background); -fx-background-insets: -0.2, 1, -1.4, 3; -fx-background-radius: 3, 2, 4, 0;
	}